/* MENU */
#menu{
	width:100%; 
	padding-bottom: 4%;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	display: none;
}
#menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
#menu li{
	padding: 2%;
	list-style-type: none;
}
#menu li a{
	font-size: 1.2em;
	color: #2680ff;
	padding: 1.5% 3%;
	text-decoration: none;
}
#menu li a:hover{
	border-bottom: 1px solid #2680ff;
}
.cabecalho{
	width: 100%;
	float: left;
	padding: 2% 4%;
	position: fixed;
	z-index: 10 !important;
}
#logo{
	font-family: 'Amatic SC', cursive;
	color: #fff;
	text-decoration: none;
	font-size: 2.0em;
}
#logoDesktop{
	display: none;
}
#logoMobile{
	float: left;
	width: 50px;
	margin-top: 2px;
}
#btn-menu{
	width: 40px;
	height: 40px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 40px;
	/* border: 1px solid #2680ff;  */
	cursor: pointer;
	background: none;
	transition: 0.5s color;
}
#btn-menu:hover{
	/* color: #000; */
}
#btn-close{
	color: #2680ff;
	float: right;
	cursor: pointer;
	margin-top: 12px;
	margin-right: 22px;
	font-size: 1.3em;
}


/* PÁGINA HOME */
#home{
	width: 100%;
	height: 100%;
	background-color: #2680ff;
	color: #fff;
	text-align: center;
}

#image360{
	width: 100%;
	height: 100%;
	display: none;
}

#conteudoInicial{
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-top: 25%;
	float: left;
}

#conteudoInicial h1{
	font-size: 1.5em;
	font-family: 'Philosopher', sans-serif;
}

#conteudoInicial i{
	width: 50px;
	color: #fff;
	font-size: 2em;
	bottom: 0;
	left: 44%;
	margin-bottom: 10px;
	position: absolute;
}

#conteudoInicial img{
	width: 50%;
}

#btn-ir{
	padding: 10px 15px;
	border: 1px solid #fff; 
	background-color: #2680ff;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.2em;
	color: #fff;
	transition: 1s color;
	transition: 1s background-color;
}

#btn-ir:hover{
	background-color: #fff;
	color: #2680ff;
}

/* PÁGINA SOBRE */

#about{
	background-color: #26b3ff;
	width: 100%;
}
#about img{
	width: 60%;
	border-radius: 50%;
	border: 5px solid #fff; 
	margin-left: 20%;
	margin-top: 60px;
}

#about h1{
	font-size: 1.5em;
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	text-align: center;
}

#about h5{
	padding: 0% 10%;
	padding-bottom: 50px; 
	color: #4f4f51;
}
#about #curiosidades{
 	padding: 10%;
}

#about #curiosidades li{
	list-style-type: none;
	color: #4f4f51;
	padding-bottom: 12px;
}

#about #curiosidades i{
	color: #fff;
	margin-left: -10px;
	padding-right: 5px;
}
#about #beer, #mobile, #phone{
	display: none;
}

/* PÁGINA SKILLS */

#skills{
	background-color: #1cdcff;
	padding-top: 80px;
}
#skills h1{
	font-size: 1.8em;
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	text-align: center;
}
#skills ul{
	padding: 10%;
}
#skills li{
	list-style-type: none;
	color: #4f4f51;
	padding-bottom: 12px;
}
#skills li i{
	padding-right: 10px;
	color: #fff;
}
#skills #iconPC, #iconAndroid{
	display: none;
}

/* PÁGINA TRABALHOS */
#works{
	background-color: #1ad8cf;
	text-align: center;
	height: min-content;
	padding: 0 30px;
	padding-bottom: 50px;
}
#works h1{
	color: #fff;
	text-align: center;
	font-size: 2em;
	font-family: 'Philosopher', sans-serif;
	padding-top: 70px;
}

#works #btn-web, #btn-android{
	margin-top: 5px;
	font-size: 0.8em;
	padding: 2px 0 2px 0;
	width: 65px;
	border: 1px solid #fff;
	background: none;
	color: #fff;
}

#works .active{
	color: #1ad8cf !important;
	background: #fff !important;
}

#works #btn-web{
	border-radius: 50px 0 0 50px;
}

#works #btn-android{
	border-radius: 0 50px 50px 0;
}
#works img{
	width: 100%;
	transition: 0.5s opacity;
	z-index: 1;
}

#works h3{
	position: absolute;
	padding-left: 20px;
	padding-top: 25px;
	font-size: 1.8em;
	opacity: 0;
	transition: 0.5s opacity;
	z-index: 6;
}

#works h2{
	position: absolute;
	text-align: left;
	width: 80%;
	padding-left: 20px;
	padding-top: 65px;
	font-size: 1em;
	opacity: 0;
	transition: 0.5s opacity;
	z-index: 5;
}

#works .job{
	margin-top: 40px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	color: #26b3ff;
	z-index: 1;
	cursor: pointer;
}

#works button{
	cursor: pointer;
}

#works #listWeb{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 50px;
}

#works #listAndroid{
	display: none;
}

#works .job:hover img{
 	opacity: 0.15;
}

#works .job:hover h3{
 	opacity: 1;
}
#works .job:hover h2{
 	opacity: 1;
}

/* MODALS */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 15; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fff;
	width: 100%; 
	height: 100%;
	overflow: hidden;
}

.close {
	color: #fff;
	font-size: 25px;
	margin-top: 10px;
	margin-left: -40px;
	font-weight: bold;
	position: absolute;
	transition: color 0.5s;
}

.close:hover,
.close:focus {
	color: #2680ff;
	text-decoration: none;
	cursor: pointer;
}

.imgJog{
	width: 100%;
	height: 100px;
	overflow: hidden;
	float: left;
	margin-bottom: 30px;
	border-bottom: 2px solid #1ad8cf;
	box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.3);
}

.imgJog img{
	margin-top: -50px;
}

.modal p{
	margin: 30px;
	text-align: left;
	color: #2680ff;
}

.modal button{
	background: none;
	border: 2px solid #2680ff;
	color: #2680ff;
	padding: 5px 15px;
	border-radius: 50px;
	transition: background 0.5s, color 0.5s, border 0.5s;
	margin-bottom: 30px;
	cursor: pointer;
}
.modal button:hover{
	background: #1ad8cf;
	border: 2px solid #1ad8cf;
	color: #fff;
}


/* PÁGINA CONTATO */
#contact{
	background-color: #22e8a6;
	padding-bottom: 70px; 
}
#contact{
	text-align: center;
	padding: 80px 25px 30px 25px;
	color: #4f4f51;
}

#contact h2{
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	font-size: 1.5em;
}

#contact h5{
	text-align: center;
	padding: 0 10px 0 10px;
}

#contact a{
	color: #4f4f51;
}

#contact form h6{
	font-size: 0.8em;
	color: #4f4f51;
	text-align: left;
	padding-bottom: 10px;
}
#contact #textForm i{
	display: none;
}

form textarea{
	width: 100%;
	border-radius: 10px;
	padding: 5px 10px;
	margin-top: 10px;
	border: 2px solid #2680ff;
	color: #4f4f51;
}

form .formulario{
	width: 100%;
	padding: 5px 10px;
	border-radius: 20px;
	margin-top: 10px;
	border: 2px solid #2680ff;
	color: #4f4f51;
}

form .enviar{
	padding: 5px 15px;
	background: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.3em;
	transition: 0.5s background, 0.5s border;
}
form .enviar:hover{
	background: #26b3ff;
	border: 2px solid #26b3ff;
}

/* RODAPÉ */

footer{
	background-color: #fff;
	height: 130px;
	text-align: center;
}
footer i{
	font-size: 2em;
	border-radius: 50%;
	margin: 20px 0.5% 0 0.5%;
	border: 1.5px solid #2680ff;
	width: 50px;
	height: 50px;
	padding: 8px;
	color: #4f4f51;
	transition: 0.5s color;
	transition: 0.5s background-color;
}

footer #copyright{
	color: #4f4f51;
	margin: 10px 0 20px 0;
	font-size: 0.9em;
}

footer i:hover{
	background-color: #2680ff;
	color: #fff;
}

@media screen and (min-width: 450px){
	#conteudoInicial img{
		width: 150px;
	}
	#conteudoInicial{
		margin-top: 18%; 
	}
	#about{
		text-align: center;
	}
	#about img{
		width: 250px;
		margin-left: 0;
	}
	#skills #iconPC, #iconAndroid{
		display: block;
		font-size: 7em;
		color: #fff;
		float: right;
		margin-top: -100px; 
	}
	#skills #iconPC{
		margin-top: -60px;
	}
}

@media screen and (min-width: 600px){
	#works h3{
		padding-top: 15px;
	}
	#works h2{
		width: 35%;
		padding-top: 60px;
	}
	.modal-content {
		margin: 5% auto;
		width: 80%; 
		height: auto;
		border-radius: 10px;
	}
	.imgJog{
		height: 200px;
	}
}