*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
html,body{
        width: 100%;
        height:100%;
    }
#menu{
	width:100%; 
	padding-bottom: 4%;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	display: none;
}
#menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
#menu li{
	padding: 2%;
}
#menu li a{
	font-size: 1.2em;
	color: #2680ff;
	padding: 1.5% 3%;
	text-decoration: none;
}
#menu li a:hover{
	border-bottom: 1px solid #2680ff;
}
.cabecalho{
	width: 100%;
	float: left;
	padding: 2% 4%;
	background-color: #fff;
	position: fixed;
}
#logo{
	float: left;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.8em;
	padding-top: 1%;
	color: #2680ff;
}
#btn-menu{
	width: 40px;
	height: 40px;
	float: right;
	text-align: center;
	color: #000;
	border-radius: 40px;
	border: 1px solid #2680ff; 
	cursor: pointer;
	background-color: #fff;
	transition: 1s background-color;
	transition: 0.5s color;
}
#btn-menu:hover{
	background-color: #2680ff;
	color: #fff;
}

#btn-close{
	color: #2680ff;
	float: right;
	cursor: pointer;
	margin: 3% 5% 0 0;
	font-size: 1.3em;
}
#home{
	width: 100%;
	height: 100%;
	background-color: #2680ff;
	color: #fff;
	text-align: center;
}

#about{
	background-color: #26b3ff;
	width: 100%;
}

#conteudoInicial{
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-top: 25%;
	float: left;
}
#conteudoInicial h1{
	font-size: 1.5em;
	font-family: 'Philosopher', sans-serif;
}

#conteudoInicial i{
	width: 50px;
	color: #fff;
	font-size: 2em;
	bottom: 0;
	left: 44%;
	margin-bottom: 10px;
	position: absolute;
}

#conteudoInicial img{
	width: 50%;
}

#btn-ir{
	padding: 3% 5%;
	border: 1px solid #fff; 
	background-color: #2680ff;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.2em;
	color: #fff;
	transition: 1s color;
	transition: 1s background-color;
}

#btn-ir:hover{
	background-color: #fff;
	color: #2680ff;
}

#about img{
	width: 60%;
	border-radius: 50%;
	border: 5px solid #fff; 
	margin-left: 20%;
	margin-top: 60px;
}

#about h1{
	font-size: 1.5em;
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	text-align: center;
}

#about h5{
	padding: 0% 10%;
	padding-bottom: 50px; 
	color: #4f4f51;
}

#skills{
	background-color: #1cdcff;
	height: 500px;
}
#works{
	background-color: #1ad8cf;
	padding-bottom: 70px; 
	text-align: center;
}
#contact{
	background-color: #22e8a6;
	padding-bottom: 70px; 
}

footer{
	background-color: #fff;
	height: 100px;
	text-align: center;
}
footer i{
	font-size: 2em;
	border-radius: 50%;
	margin: 20px 0.5% 0 0.5%;
	border: 1.5px solid #2680ff;
	width: 50px;
	height: 50px;
	padding: 8px;
	color: #4f4f51;
	transition: 0.5s color;
	transition: 0.5s background-color;
}

footer #copyright{
	color: #4f4f51;
	margin: 10px 0 20px 0;
	font-size: 0.9em;
}

footer i:hover{
	background-color: #2680ff;
	color: #fff;
}

form{
	text-align: center;
	padding: 80px 25px 0 25px;
	color: #4f4f51;
}

form h2{
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	font-size: 1.5em;
}

form h5{
	text-align: center;
	padding: 0 10px 0 10px;
}

form a{
	color: #4f4f51;
}

form h6{
	font-size: 0.8em;
	color: #4f4f51;
	text-align: left;
	padding-bottom: 10px;
}

form textarea{
	width: 100%;
	border-radius: 10px;
	padding: 5px 10px;
	margin-top: 10px;
	border: 1.5px solid #2680ff;
	color: #4f4f51;
}

form .formulario{
	width: 100%;
	padding: 5px 10px;
	border-radius: 20px;
	margin-top: 10px;
	border: 1.5px solid #2680ff;
	color: #4f4f51;
}

form .enviar{
	padding: 5px 15px;
	background-color: #fff;
	color: #2680ff;
	border: 1px solid #2680ff;
	
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.2em;
	transition: 0.5s color;
	transition: 0.5s background-color;
	transition: 0.5s border;
}
form .enviar:hover{
	border: 1px solid #fff; 
	background-color: #2680ff;
	color: #fff;
}

#works h1{
	color: #fff;
	text-align: center;
	font-size: 2em;
	font-family: 'Philosopher', sans-serif;
	padding-top: 70px;
}

#works #btn-web, #btn-android{
	margin-top: 5px;
	font-size: 0.8em;
	padding: 2px 0 2px 0;
	width: 65px;
	border: 1px solid #fff;
	color: #fff;
}

#works #btn-web{
	background-color: #fff;
	color: #1ad8cf;
	border-radius: 50px 0 0 50px;
}

#works #btn-android{
	background-color: #1ad8cf;
	color: #fff;
	border-radius: 0 50px 50px 0;
}

#works img{
	width: 100%;}

#works .job{
	margin-top: 40px;
	border: 5px solid #fff;
	width: 85%;
	border-radius: 10px;
	background-color: #fff;
	color: #26b3ff;
}

 #works .job:hover{
 	opacity: 0.8;
 }