.backgroundModal{
    position: absolute;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.showBackground{
    animation: showBackground 1s;
}

.hideBackground{
    animation: hideBackground 1s;
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.modal .content{
    z-index: 101;
    background-color: #fff;
    width: 70vw;
    height: 80vh;
    border-radius: 30px;
}

.modal .showModal{
    animation: showModal 1s;
}

.modal .hideModal{
    animation: hideModal 1s;
}

@keyframes showBackground{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideBackground{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showModal{
    0% {
        opacity: 0;
        margin-top: -100px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes hideModal{
    0% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: -100px;
    }
}