.backgroundModal{
    position: absolute;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.showBackground{
    animation: showBackground 1s;
}

.hideBackground{
    animation: hideBackground 1s;
}

.modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.modal .content{
    z-index: 101;
    background-color: #fff;
    width: 70vw;
    height: 80vh;
    border-radius: 30px;
    text-align: center;
}

.modal .containerTop{
    display: grid;
    grid-template-columns: 1fr 50px;
    height: 60px;
    align-items: center;
    padding-top: 20px;
    text-align: left;
}

.modal .containerTop p{
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.5em;
    color: #333;
    margin: 0;
    text-align: center;
}

.modal .containerTop i{
    font-size: 2em;
    margin-top: -10px;
    color: #333;
}

.modal .containerTop i:hover{
    color: #2680FF;
    cursor: pointer;
}

.modal .content img{
    height: 50vh;
}

.modal .aboutWork{
    padding: 0 5vw;
    word-break: break-all;
    color: #333;
    font-size: 1.3em;
    font-family: 'Barlow',  sans-serif;
    font-weight: 400;
    text-align: left;
} 

.modal .showModal{
    animation: showModal 1s;
}

.modal .hideModal{
    animation: hideModal 1s;
}

@keyframes showBackground{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideBackground{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showModal{
    0% {
        opacity: 0;
        margin-top: -100px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes hideModal{
    0% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: -100px;
    }
}

